/*************************************************
*
*   Blue (dark)   : #294D5B
*   Blue (light)  : #3F7074
*   Brown (light) : #DBCABF
*   Brown (medium): #BE7C5C
*   Dark          : #202629
*   Gray (dark)   : #212121
*   Gray (medium) : #727272
*   Gray (light)  : #b6b6b6
*
*************************************************/


body {
    background-color: #fff;
    color: #202629;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 100%;
    line-height: 2;
    webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
    width: 100%;
}
html {
    height: 100%;
    width: 100%;
}
h2, h3, h4, h5, h6 {
    letter-spacing: 1px;
    margin-top: 0;
    padding-bottom: 20px;
    padding-top: 30px;
    text-transform: uppercase;
}
ol, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    color: #BE7C5C;
    transition: 0.3s ease-in-out;
}
a:hover, a:focus {
    color: #3F7074;
    outline: none;
    text-decoration: none;
}
a:active {
    outline: none;
}
p {
    margin: 0 0 0px;
}

/*-----------------------------------------------
   Navigation
-----------------------------------------------*/

.navbar-custom {
    background-color: #3F7074;
    font-family: 'Roboto Mono', Helvetica, Arial, monospace;
    margin-bottom: 0;
    opacity: 0.9;
}
.navbar-custom .navbar-toggle {
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
}
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
    outline: none;
}
.navbar-custom a {
    color: #fff;
}
.navbar-custom .nav li a {
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.navbar-custom .navbar-nav a:hover {
    background-color: transparent;
    color: #BE7C5C;
}
.navbar-custom .navbar-nav a:focus, .navbar-custom .navbar-nav a:active {
    background-color: transparent;
}
.navbar-custom .navbar-brand {
    font-size: 22px;
    text-transform: uppercase;
}
.navbar-custom .navbar-brand:hover span.blinking {
    animation-name: blink;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}
@media (min-width: 768px) {
    .navbar-custom {
        background: #3F7074;
        border-bottom: none;
        letter-spacing: 1px;
        padding: 10px 0;
        -webkit-transition: opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out, padding 0.4s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        opacity: 0.5;
        padding: 0;
    }
}

/*-----------------------------------------------
   Intro
-----------------------------------------------*/

.intro {
    background: url(../resources/background01.jpg) no-repeat top center fixed;
    background-color: #D7CFBC;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #fff;
    display: table;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
    z-index: 1;
}
.intro .intro-body {
    bottom: -50%;
    top: 50%;
    vertical-align: inherit;
}
.intro .intro-body .intro-text {
    font-size: 22px;
    margin-bottom: 80px;
    padding: 180px auto;
}

/*-----------------------------------------------
   Scroll Button
-----------------------------------------------*/

.btn-circle {
    background: transparent;
    border: 1px solid white;
    border-radius: 100% !important;
    bottom: 20px;
    color: white;
    column-fill: balance;
    font-size: 35px;
    height: 60px;
    margin-top: 10px;
    outline: none;
    padding: 7px 16px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    transform: translateY(50%);
    width: 60px;
}
.btn-circle:active {
    outline: none;
}
.btn-circle:hover, .btn-circle:focus {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    outline: none;
}
.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}
a.scroll-down {
    bottom: 20px;
    left: 50%;
    margin-top: 20px;
    position: absolute;
    transform: translateX(-50%);
}

/*-----------------------------------------------
   About Content
-----------------------------------------------*/

.content-section {
    background-color: #fff;
    color: #202629;
}
.img-circle {
    border: solid 1.5px;
    border-color: #294D5B;
    height: 70%;
    padding: 3px;
    width: 70%;
}
.aboutme {
    text-align: justify;
    padding-top: 10px;
}
.profile-photo {
    text-align: center;
    padding-top: 20px;
    padding-left: 30px;
}
.about-title {
    padding-top: 30px;
}
@media (max-width: 767px) {
    .profile-photo {
        margin-top: 10px;
    }
    .aboutme {
        text-align: center;
        padding: 20px;
    }
}

/*-----------------------------------------------
   Content with background
-----------------------------------------------*/

.background-section {
    background: url(../resources/background01.jpg) no-repeat bottom center fixed;
    background-color: #D7CFBC;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
    padding: 50px 0;
    width: 100%;
}
@media (min-width: 767px) {
    .background-section {
        padding: 50px 0;
    }
    .content-section {
        padding: 60px 0;
    }
}

/*-----------------------------------------------
   Buttons
-----------------------------------------------*/

.btn-default {
    border: 3px double #fff;
    border-spacing: 6px;
    background-color: transparent;
    color: #fff;
    display: inline-block;
    font-weight: 300;
    outline: none;
    padding: 5px;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}
.btn-default:active {
    outline: none;
}
.btn-default:hover, .btn-default:focus {
    background-color: #3F7074;
    border: 3px double #fff;
    border-spacing: 6px;
    color: #fff;
    outline: none;
    opacity: 0.8;
}
#contact a {
    color: #202629;
}
#contact a:hover, #contact a:focus {
    color: #BE7C5C;
}
ul.banner-social-buttons {
    margin: 25px 0;
}
@media (max-width: 1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}
@media (max-width: 767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

/*-----------------------------------------------
   Footer
-----------------------------------------------*/

footer .footer-credits {
    height: auto;
    margin: 30px 0 0 0px;
}
footer.background-section {
    padding: 50px 0;
}
footer a {
    color: #fff;
}

/*-----------------------------------------------
   Animation
-----------------------------------------------*/

@-webkit-keyframes pulse {
    0%, 100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@-moz-keyframes pulse {
    0%, 100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@-webkit-keyframes blink {
    0%, 100% {
        opacity: 0;
        visibility: hidden;
    }
    50% {
        opacity: 1;
        visibility: visible;
    }
}
@-moz-keyframes blink {
    0%, 100% {
        opacity: 0;
        visibility: hidden;
    }
    50% {
        opacity: 1;
        visibility: visible;
    }
}

/*-----------------------------------------------
   Form
-----------------------------------------------*/

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 0.5px solid #888888;
}
.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    resize: none;
}
.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 0.5px solid #888888;
}
.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}
.floating-label-form-group-with-focus label {
    color: #888888;
}
form .row:first-child .floating-label-form-group {
    border-top: 0.5px solid #888888;
}
form .btn-default {
    color: #BE7C5C;
    border-color: #BE7C5C;
}
form .btn-default:hover {
    background-color: #BE7C5C;
}


/*-----------------------------------------------
   Modal
-----------------------------------------------*/

.modal-form {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 75px;
  transform: translate(-50%, -5%);
  transition: 0.4s ease-in-out;
  visibility: hidden;
  width: 400px;
  z-index: 2;
}

.modal-form.is-visible {
  opacity: 1;
  transform: translate(-50%, 0);
  visibility: visible;
}

.modal-media-title {
  color: #fff;
  bottom: 20px;
  left: 20px;
  font-size: 30px;
  position: absolute;
}

.modal-contents {
  padding: 20px;
}

.modal-overlay {
  background-color: #212121;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: 0.4s ease-in-out;
  visibility: hidden;
  width: 100%;
  z-index: 1;
}

.modal-overlay.is-visible {
  opacity: 0.4;
  visibility: visible;
}

/*-----------------------------------------------
   Projects Section
-----------------------------------------------*/

#projects .background-section {
    padding-bottom: 100px;
    background-position: center;
}
#projects h3 {
    padding-bottom: 50px;
}
